
@import '../../assets/styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 0;

  .logo {
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 700;
  }

  .themeSwitcher {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    .themeName {
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      transition: $transition;
    }

    svg {
      transition: $transition;
    }
  }
}

body[data-theme="light"] {
  .themeSwitcher {
    color: $gray;

    svg {
      fill: $gray;
    }

    &:hover {
      span {
        color: $darkGray;
      }
  
      svg {
        fill: $darkGray;
      }
    }
  }
}

body[data-theme="dark"] {
  .themeSwitcher {
    svg {
      fill: $white;
    }

    &:hover {
      span {
        color: $gray;
      }
  
      svg {
        fill: $gray;
      }
    }
  }
}