@import 'fonts';
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  transition: $transition;
}

body[data-theme="light"] {
  background-color: $whiteBackground;
  color: $black;
}

body[data-theme="dark"] {
  background-color: $darkBlueBackground;
  color: $white;
}