// Colors
$black: #2B3442;
$white: #FFF;
$whiteBackground: #F6F8FF;
$gray: #697C9A;
$darkGray: #2B3442;
$blue: #0079ff;
$lightBlue: #60ABFF;
$darkBlue: #1E2A47;
$darkBlueBackground: #141D2F;

// Transition
$transition: .25s;